@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  animation: fadeIn 2s ease-out;
}

.overlay {
  position: absolute;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  animation: overlayAnimation 5s infinite alternate;
}

.content {
  max-width: 800px;
  animation: slideUp 1.5s ease-out; /* Animacja zawartości */
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: #ffffff;
  animation: slideIn 1.5s ease-out; /* Animacja tytułu */
}

.name {
  color: #16c79a; /* Neonowy zielony */
  text-shadow: 5px 5px 10px#000000;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #16c79a; /* Delikatny pastelowy szary-niebieski */
  animation: fadeInUp 2s ease-out; /* Animacja podtytułu */
  text-shadow: 0px 0px 10px#000000;
}

.cta {
  display: flex;
  gap: 1rem;
  justify-content: center;
  animation: fadeInUp 2s ease-out; /* Animacja cta */
}

.buttonPrimary {
  padding: 12px 30px;
  background: #16c79a; /* Neonowy zielony */
  border: none;
  border-radius: 25px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: pulse 1.5s infinite; /* Pulsujący efekt przycisku */
}

.buttonPrimary:hover {
  background: #13a27d; /* Ciemniejszy zielony */
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.buttonSecondary {
  padding: 12px 30px;
  background: transparent;
  border: 2px solid #726cff;
  border-radius: 25px;
  color: #726cff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonSecondary:hover {
  background: #726cff;
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes overlayAnimation {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media (min-width: 524px) {
  .overlay {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .overlay {
    width: 100%;
  }
}
